<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>

    <a href="/patient">Patient Register</a>
    <a href="/doctor">Doctor Register</a>

    <a href="/login/patient">Patient Login</a>
    <a href="/login/doctor">Doctor Login</a>
    <a href="/admin/dashboard">Admin login</a>


</body>
</html>